@import 'https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu';

body {
	background-color: rgb(140,184, 99);
	display: flex;
	justify-content: center;
}

div.mainarea {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	width: 90em;
	border-style: hidden;
	border-radius: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

span.subtle {
	font-size: 80%;
	font-style: oblique;
	color: rgb(65%, 65%, 65%);
}

.rightjustify {
	float: right;
	margin-right: 1em;
}

div.statusarea {
	text-align: center;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 1em;
}

div.graph {
	margin-left: 10%;
	margin-right: 10%;
	background: rgb(90%, 90%, 90%);
	border-radius: 1em;
	border-style: solid;
	border-color: hsla(347, 70%, 22%, 1);
	border-width: 0.2em;
	padding: 10px;
}

div.graph canvas {
	width: 100%;
}

div.graph-title {
	text-align: center;
	padding-bottom: 15px;
	font-size: 1.5em;
}

div.popupContent {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	border-color: rgb(140,184, 99);
	border-radius: 0.5em;
	border-style: solid;
	overflow: hidden;
}

table.datePickerMonthSelector {
	text-align: center;
	width: 100%;
	background: rgb(217,238,196);
}

div.datePickerPreviousButton,div.datePickerNextButton {
	width: 1.25em;
	height: 1.25em;
	border-radius: 0.5em;
	background-color: rgb(185,220,151);
}

div.datePickerDay {
	border-style: solid;
	border-width: 1px 1px 0px 0px;
	border-color: rgb(140,184, 99);
	padding: 3px;
	text-align: center;
}

div.datePickerDayIsToday {
	background-color: rgba(217,238,196,1);
}

div.eventpassthrough {
	pointer-events: none;
}

div.control-box-container {
	overflow: hidden;
}
div.control-box-container > * {
	margin-top: 0.5em;
}

div.infoPopupContent > div.popupContent {
	padding: 0.15em;
}